.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0 5px 0;
}

.inputField {
  border-radius: var(--border-radius);
  border: var(--border-primary);
  outline: none;
  padding: 15px 10px;
  margin: 5px 0 2px 0;
  font-size: var(--font-XS);
  font-weight: var(--font-bold);
}

.inputField::placeholder {
  color: var(--color-primary);
  opacity: 0.5;
}

.errorMessage {
  font-size: 16px;
  font-weight: var(--font-bold);
}
