.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px 0 5px 0;
}

.label {
  margin-top: 0.5em;
  font-size: var(--font-regular);
  font-weight: var(--font-bold);
}

.inputField {
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--border-primary);
  outline: none;
  padding: 15px 10px;
  margin: 5px 0 2px 0;
  font-size: var(--font-XS);
  font-weight: var(--font-bold);
}

.inputField::placeholder {
  color: var(--color-primary);
  opacity: 0.5;
}

.errorMessage {
  font-size: 14px;
  font-weight: var(--font-bold);
  color: var(--color-warning);
  text-align: center;
}
