.button {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  border: var(--border-primary);
  outline: none;
  border-radius: var(--border-radius);
  font-weight: var(--font-bold);
  font-size: var(--font-XS);
  cursor: pointer;
  user-select: none;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.button:disabled {
  background-color: var(--color-mute);
  cursor: not-allowed;
}

.buttonPrimary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button.buttonOutline {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: var(--border-secondary);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2em;
  margin: auto;
}
