.button {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-regular);
  cursor: pointer;
  user-select: none;
}

.buttonPrimary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button.buttonOutline {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: var(--border-secondary);
}
