.backgroundText {
  font-weight: var(--font-bolder);
  font-size: 12.5em;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: var(--color-secondary-light);
  position: absolute;
  left: -80px;
  top: 50px;
  margin: 0 -1000px 0 0;
  z-index: 0;
}

.backgroundTextSecondary {
  font-style: normal;
  font-weight: var(--font-bolder);
  font-size: var(--font-stroked);
  text-transform: uppercase;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.308);
  color: #26302b;
  opacity: 0.2;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 600px) {
  .backgroundText {
    top: 0.5em;
    left: 0;
    font-size: 4em;
  }

  .backgroundTextSecondary {
    font-size: calc(var(--font-stroked) / 1.2);
  }
}
