.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  opacity: 0.6;
  transition: all 300ms ease;
  z-index: 5;
}

.modalContainer.closed {
  opacity: 0;
}

.modalContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: var(--border-radius);
  height: fit-content;
  max-width: 550px;
  background-color: var(--color-background);
  transition: all 300ms ease;
  z-index: 6;
}

.modalBody {
  padding: 15px 0;
}

.modalContent.modalLarge {
  max-width: none;
  width: 80%;
}

.modalWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.bodyContainer {
  margin: 15px 0;
}

.modalCloseButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 10px;
  cursor: pointer;
}

.modalContent.closed {
  transform: translateY(300px);
  opacity: 0;
}

.modalTitle {
  padding: 10px 0;
  border-bottom: var(--border-primary);
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
