.text {
  font-size: calc(var(--font-regular) * 1.5);
}

@media screen and (max-width: 600px) {
  .text {
    font-size: calc(var(--font-regular) * 1.3);
  }
}

@media screen and (max-width: 600px) {
  .text {
    font-size: calc(var(--font-regular) * 1.1);
  }
}

@media screen and (orientation: landscape) {
  .text {
    font-size: calc(var(--font-regular) * 1.3);
  }
}
