.containerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  padding: var(--padding);
}

@media screen and (max-width: 600px) {
  .container {
    min-height: inherit;
    padding: calc(var(--padding) / 2);
  }
}
