* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #f2f8f5;
  --color-white: #ffffff;
  --color-primary: #26302b;
  --color-secondary: #23bfb8;
  --linear-gradient: -webkit-linear-gradient(#23bfb8, #85ea80);
  --border-primary: 1px solid #26302b;
  --border-secondary: 2px solid #26302b;
  --border-radius: 5px;
  --transition-primary: all 0.3s ease;
  --shadow-light: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --shadow-deep: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --font-regular: 14px;
  --font-weight-regular: 600;

  --heading-large: 50px;
  --heading-medium: 38px;
  --heading-small: 16px;

  --mobile-screen: 600px;
}

body {
  font-weight: var(--font-weight-regular);
  background-image: url(../../public/images/background/bg.png);
  background-size: 80%;
  background-color: var(--color-background);
  overflow-x: hidden;
  color: var(--color-primary);
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
  }
}
