* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-warning: red;
  --color-background: #f2f8f5;
  --color-white: #ffffff;
  --color-primary: #26302b;
  --color-mute: #505a55;
  --color-secondary: #23bfb8;
  --color-secondary-light: #e7f2ef;
  --linear-gradient: -webkit-linear-gradient(#23bfb8, #85ea80);
  --border-primary: 1px solid #26302b;
  --border-secondary: 2px solid #26302b;
  --border-radius: 5px;
  --transition-primary: all 0.3s ease;
  --shadow-light: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --shadow-deep: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --font-regular: 1em;
  --heading-primary: 4.3em;
  --heading-secondary: 2.38em;
  --font-stroked: 15.5em;
  --font-light: 400;
  --font-bold: 600;
  --font-bolder: 800;
  --item-gap: 9rem;
  --padding: 1em;
  --radius: 0.2em;
  --animation: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

html,
body {
  font-weight: var(--font-weight-regular);
  background-image: url(../../public/images/background/bg.png);
  background-size: 80%;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: var(--font-regular);
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}
