.titleWrapper {
  padding: 0 0;
  margin: 0;
}

.titleLarge {
  text-align: center;
  font-size: var(--heading-large);
}

.headingMed {
  font-size: var(--heading-medium);
}

.headingSmall {
  font-size: var(--heading-small);
}
