.social {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIcons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.socialIcons::after {
  content: "";
  height: 80px;
  width: 0;
  border: var(--border-primary);
}

.socialIcon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  cursor: pointer;
}

.socialText {
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  margin: 15px 0;
  font-size: var(--heading-small);
}

@media screen and (max-width: 600px) {
  .social {
    display: none;
  }
}
