.capsule {
  border-radius: 21px;
  border: var(--border-secondary);

  display: flex;
  align-items: center;

  box-shadow: var(--shadow-light);

  cursor: pointer;

  transition: var(--transition-primary);
  overflow: hidden;
}

.capsule:hover {
  box-shadow: var(--shadow-deep);
}
