.capsuleItem {
  padding: 8px;
  border-left: var(--border-secondary);

  text-transform: capitalize;
  font-size: var(--font-regular);
  transition: var(--transition-primary);
}

.capsuleItem:first-child {
  border-left: 0;
  border-right: 0;
}

.capsuleItem:last-child {
  border-left: var(--border-secondary);
  border-right: 0;
}

.capsuleItem:hover {
  background-color: var(--color-secondary);
}
