.about {
  height: 100%;
  background-color: var(--color-primary);
  position: relative;
  color: var(--color-white);
  overflow: hidden;
}

.aboutContent {
  display: flex;
  height: 100%;
  gap: var(--item-gap);
}

.aboutSection {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--item-gap) / 1.2);
  z-index: 5;
}

.aboutLink {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .aboutContent {
    flex-direction: column;
    gap: calc(var(--item-gap) / 2.5);
  }

  .aboutSection {
    gap: calc(var(--item-gap) / 2.5);
  }
}

@media screen and (max-width: 400px) {
  .aboutText {
    margin-bottom: calc(var(--item-gap) / 4);
  }
}
