.navbar {
  margin-top: 50px;
  width: 100%;
  user-select: none;
  /* background-color: var(--color-background); */
  height: 70px;
}

.navContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem:first-child {
  justify-content: flex-start;
}

.navItem:last-child {
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .navItem:nth-child(n + 2) {
    display: none;
  }
}
