.section {
  height: 80vh;
}

@media screen and (max-width: 1024px) {
  .section {
    height: 60vh;
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .section {
    height: 100vh;
  }
}
