.footerTitle {
  padding: 0 0 2.5em 0;
}

.footerBottom {
  display: flex;
  align-items: center;
  gap: var(--item-gap);
  margin-top: var(--item-gap);
}

.footerBottomContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.footerBottomText {
  font-size: var(--font-regular);
  font-weight: var(--font-light);
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media screen and (max-width: 600px) {
  .footerTitle {
    padding: 0 0 0.8em 0;
  }

  .footerBottom {
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--item-gap) / 5);
    margin-top: calc(var(--item-gap) / 2.5);
  }

  .footerBottomContentWrapper {
    gap: 0.5em;
  }
}
