.vision {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visionTextContainer {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--item-gap);
  margin-top: calc(var(--item-gap) / 3);
  margin-bottom: calc(var(--item-gap) / 3);
}

@media screen and (max-width: 600px) {
  .visionTextContainer {
    grid-template-columns: auto;
    margin-top: calc(var(--item-gap) / 2.5);
    margin-bottom: calc(var(--item-gap) / 6);
  }

  .visionTextContainer :last-child {
    display: none;
  }
}
