.vision {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visionTextContainer {
  z-index: 1;
  display: flex;
  gap: var(--item-gap);
  margin-top: calc(var(--item-gap) / 3);
  margin-bottom: calc(var(--item-gap) / 3);
}

.visionText {
  flex: 1;
  font-size: var(--font-title);
  font-weight: var(--font-light);
}

@media screen and (max-width: 600px) {
  .visionTextContainer {
    flex-direction: column;
    gap: calc(var(--item-gap) / 3);
  }

  .visionText {
    font-size: calc(var(--font-title) / 1.2);
  }
}
