.vision {
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visionTextContainer {
  display: flex;
  gap: 150px;
  margin: 60px 0;
}

.visionText {
  flex: 1;
  font-size: var(--font-M);
}
